{{#if @site.members_enabled}}
    {{#unless @site.members_invite_only}}
        <form class="subscribe-form" data-members-form="subscribe">
            {{#if subscribe_description}}
                <p class="description">{{{t "Subscribe to our email newsletter and unlock access to <b>members-only</b> content and <b>exclusive updates.</b>"}}}</p>
            {{/if}}
            <div class="form-group">
                <input type="email" name="email" class="inputbox large" required placeholder="{{t "Enter your email"}}" data-members-email>
                <button class="epcl-button submit absolute" type="submit">
                    <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.6176 12.4031L12.9235 12.8C13.0502 12.9644 13.016 13.1976 12.847 13.3209C12.7809 13.3692 12.7004 13.3953 12.6176 13.3953H0.382352C0.171187 13.3953 0 13.2287 0 13.0233C0 12.9427 0.0268334 12.8644 0.0764704 12.8L0.382352 12.4031V5.95349C0.382352 2.66547 3.12131 0 6.49999 0C9.87868 0 12.6176 2.66547 12.6176 5.95349V12.4031ZM4.58823 14.1395H8.41175C8.41175 15.167 7.55582 16 6.49999 16C5.44416 16 4.58823 15.167 4.58823 14.1395Z" fill="white"/>
                    </svg>

                    {{t "Subscribe"}}
                    <span class="loader"></span>
                </button>
            </div>     
            <p class="error-detail" data-members-error></p>
            <p class="success-message">{{t "Subscription was sent successfully, check your email"}}</p>
        </form>
    {{else}}
        {{#if subscribe_description}}
            <div class="subscribe-form">
                <p class="description">{{{@site.description}}}</p>
            </div>
        {{/if}}
    {{/unless}}
{{else}}
    {{#if subscribe_description}}
        <div class="subscribe-form">
            <p class="description">{{{@site.description}}}</p>
        </div>
    {{/if}}
{{/if}}